* {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial;
    background-color: rgb(82, 61, 44);
    margin: 0;
  }
  
  

  
  a{

    justify-content: left;



  }
  .navbar {
    display: flex;
    background-color: #333;
    justify-content: left;
  }
  
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    
  }
  
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .row {  
    display: flex;
    flex-wrap: wrap;
    
  }
  
  
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    background-color: rgb(182, 177, 173);
  }
  
  
  .main {
    flex: 70%;
    padding: 20px;
    background-color: rgb(104, 78, 58);
  }
  
  
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }