body {
    background-color: rgb(82, 61, 44);
    margin: auto;
}
.rendezes {
    color: aliceblue;
    text-align: center;
}

.szin {
    color: azure;
}

header {
    color: aliceblue;
    text-align: center;
    /*

    background-image: ;

    */
}

.b {
    text-align: center;
    font-size: 51px;
    height: auto;
}

.c {
    display: flex;
    font-size: 51px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
}

.btn {
    font-size: 20px;
    outline: none;
    display: block;
    line-height: 1;
    padding: 15px 25px;
    border-radius: 3px;
    background: rgb(75, 90, 136);
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    background: rgb(59, 48, 160);
}
/*
section {
    display: table;
}*/

article {
    float: right;
    padding: 20px;
    width: 80%;
    background-color: #695959;
    height: 300px;
    opacity: 0.9;
    line-height: 100%;
}

* {
    box-sizing: border-box;
}

nav {
    float: left;
    width: 20%;
    max-height: 500px;
    background: #ccc;
    padding: 20px;
    opacity: 0.9;
    line-height: 200%;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
