body {
    background-color: rgb(105, 84, 65);
    /*
    background-image: url("https://files.northernbeaches.nsw.gov.au/sites/default/files/styles/gi--main-thumbnail/public/images/general-information/sports-associations/sports-associations.jpg?itok=BGgsVt7w");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
*/
}


/*a:link,
a:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
}*/

.a {
    color: aliceblue;
    text-align: center;
}

.szin {
    color: azure;
}

header {
    color: aliceblue;
    text-align: center;
    background: ;
}

b {
    text-align: center;
    font-size: 51px;
    height: auto;
}

.c {
    display: flex;
    font-size: 51px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
}

.btn {
    font-size: 20px;
    outline: none;
    display: block;
    line-height: 1;
    padding: 15px 25px;
    border-radius: 3px;
    background: rgb(75, 90, 136);
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    background: rgb(59, 48, 160);
}
/*
section {
    display: table;
}*/

article {
    float: right;
    padding: 20px;
    width: 80%;
    background-color: #695959;
    height: 300px;
    opacity: 0.9;
    line-height: 100%;
}

* {
    box-sizing: border-box;
}

nav {
    float: left;
    width: 20%;
    max-height: 500px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    opacity: 0.9;
    line-height: 200%;
}
/*
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
 */
